.search-salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .search-salon-page-header
    サロン検索結果
  = render partial: "layouts/salon-profile"
  = render partial: "layouts/footer"