.skillup-salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bg-opacity
    .skillup-salon-page-header
      スキルアップ
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/footer"