.sidejob-salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bg-opacity
    .sidejob-salon-page-header
      副業
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/footer"