.kyotoUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .kyotoUserPageHeader
      京都府
    = render partial: "layouts/user-profile"
    = render partial: "layouts/footer"
  