.tokyo-user-main
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bg-opacity
    .tokyo-user-page-header
      東京都
    = render partial: "layouts/user-profile"
    = render partial: "layouts/footer"