.sports-salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bg-opacity
    .sports-salon-page-header
      スポーツ
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/footer"