.sportsSalonMain
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bgOpacity
    .sportsSalonPageHeader
      スポーツ
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/footer"