- if Salonfavorite.find_by(user_id: current_user.id, admin_id: admin.id)
  = link_to(admin_salonfavorite_path(@admin, admin.id), method: :delete, remote: true) do
    %li.optionalBtn.already
      = icon('fa', 'star')
      お気に入り済み！
-else 
  = link_to(admin_salonfavorites_path(@admin), method: :post, remote: true) do
    %li.optionalBtn.none
      = icon('fa', 'star')
      お気に入り追加！ 