.salonMain {
  background-color: whitesmoke;
  .header {
    height: 150px;
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: space-between;
    border-bottom: white solid 2px;
    opacity: 0.8;
    &__headerLeft {
      display: flex;
      align-items: center;
    }
    .logo {
      color: white;
      font-size: 30px;
      font-weight: bold;
      font-family: "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
      padding-left: 10px;
    }
    &__headerRight {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .signHeader {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .signSalon {
      background-color: burlywood;
      border: 1px solid beige;
      border-radius: 15px 15px 15px 15px ;
      padding: 6px;
      margin-bottom: 10px;
      margin-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    } 
    .signUser {
      background-color: cornsilk;
      border:1px solid white;
      border-radius: 15px 15px 15px 15px;
      padding: 6px;
      margin-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .userName {
      color: white;
      font-size: 20px;
      margin-left: 20px;
      margin-right: 10px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      &__icon {
        margin-right: 10px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .headerMenu {
    height: 80px;
    background-color: white;
    opacity: 0.8;
  }
  .menuCategory {
    background-color: rgba(230, 228, 176, 0.523);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__item {
      font-size: 16px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      background-color: whitesmoke;
      opacity: 0.4;
    }
  }
  .salonProfileHeader {
    width: 200px;
    font-size: 20px;
    border-bottom: lightblue solid 2px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  .salonProfile {
    width: 500px;
    height: 800px;
    background-color: white;
    border: gray solid 2px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    .profileLists {
      &__image {
        text-align: center;
        img {
          width: 200px;
          height: 200px;
        }
      }
      &__name {
        font-size: 16px;
        padding-left: 20px;
        border-bottom:gray solid 1px;
        .salonName {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      &__category {
        font-size: 16px;
        padding-left: 20px;
        border-bottom:gray solid 1px;
        .salonCategory {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      &__birth {
        font-size: 16px;
        padding-left: 20px;
        border-bottom:gray solid 1px;
        .salonBirth {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      &__profile {
        font-size: 16px;
        padding-left: 20px;
        .salonInProfile {
          font-size: 18px;
        }
      }
    }
  }
  .buttonLists {
    display: flex;
    justify-content: space-between;
    &__favorite {
      width: 250px;
      height: 60px;
      font-size: 25px;
      color: white;
      background-color: lightblue;
      border-style: none;
      border-radius: 10px;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
    }
    &__message {
      width: 250px;
      height: 60px;
      font-size: 25px;
      color: white;
      background-color: lightblue;
      border-style: none;
      border-radius: 10px;
      padding: 10px;
      margin: 0 auto;
      margin-bottom: 30px;
      text-align: center;
    }
  }
  .subscriptionButton {
    width: 250px;
    height: 60px;
    font-size: 25px;
    color: white;
    background-color: pink;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer {
    background-color: rgb(38, 37, 37);
    opacity: 0.8;
    &__top {
      color: white;
      font-size: 20px;
      font-weight: bold;
      font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴック", sans-serif;
      padding-top: 10px;
      text-align: center;
    }
    &__center {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
      &--item {
        font-size: 14px;
        text-align: center;
      }
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        background-color: lightgray;
        opacity: 0.9;
      }
    }
    &__bottom {
      color: white;
      font-size: 13px;
      text-align: center;
    }
  }
}