.optionalBtn.already{
  width: 250px;
  height: 55px;
  font-size: 20px;
  color:white;
  background-color: green;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.optionalBtn.none{
  width: 250px;
  height: 55px;
  font-size: 20px;
  color: green;
  background-color: white;
  border-style: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
a:hover{
  text-decoration: none;
}