.page {
  text-align: center;
}

.pagination>li>a {          
  border: none;
  color: #696969;
}

.pagination>.active>a {     
  background-color: #93c9ff;
}

.pagination>li>a:hover {        
  border-radius: 15px;
}