.requestMain {
  background-color: whitesmoke;
  .header {
    height: 150px;
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: space-between;
    border-bottom: white solid 2px;
    opacity: 0.8;
    &__headerLeft {
      display: flex;
      align-items: center;
    }
    .logo {
      color: white;
      font-size: 30px;
      font-weight: bold;
      font-family: "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
      padding-left: 10px;
    }
    &__headerRight {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .signHeader {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .signSalon {
      background-color: burlywood;
      border: 1px solid beige;
      border-radius: 15px 15px 15px 15px ;
      padding: 6px;
      margin-bottom: 10px;
      margin-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    } 
    .signUser {
      background-color: cornsilk;
      border:1px solid white;
      border-radius: 15px 15px 15px 15px;
      padding: 6px;
      margin-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .userName {
      color: white;
      font-size: 20px;
      margin-left: 20px;
      margin-right: 10px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      &__icon {
        margin-right: 10px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    img {
      width: 90px;
      height: 90px;
      border-style: none;
      border-radius: 30px;
    }
  }
  .requestHeader {
    width: 350px;
    font-size: 20px;
    border-bottom: lightblue solid 2px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  .requestContents {
    width: 500px;
    height: 900px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 4px lightgrey;
    margin: 0 auto;
    margin-bottom: 50px;
    .profileLists {
      &__image {
        text-align: center;
        img {
          width: 200px;
          height: 200px;
        }
      }
      &__name {
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 15px;
        border-bottom: lightsteelblue solid 1px;
        .salonName {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      &__category {
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 15px;
        border-bottom: lightsteelblue solid 1px;
        .salonCategory {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      &__birth {
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 15px;
        border-bottom: lightsteelblue solid 1px;
        .salonBirth {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      &__profile {
        font-size: 16px;
        padding-left: 20px;
        .salonProfile {
          font-size: 18px;
        }
      }
    }
  }
  .cautionLists {
    width: 610px;
    margin: 0 auto;
    &__title {
      font-size: 16px;
      margin-bottom: 5px;
      span {
        font-size: 12px;
        color: white;
        background-color: red;
        border-style: none;
        border-radius: 5px;
        padding: 3px;
      }
    }
    &__text {
      letter-spacing: 2px;
      margin-bottom: 5px;
    }
  }
  .requestButton {
    width: 210px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: whitesmoke;
    background-color: rgb(162, 215, 175);
    border-style: none;
    border-radius: 10px;
    box-shadow: 0px 5px lightgrey;
    padding: 10px 28px;
    margin: 15px 0;
    margin-left: auto;
    margin-right: auto;
    a {
      text-decoration: none;
      color: whitesmoke;
    }
  }
  .requestButton:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
}