.newUserMain {
  background: image-url('new-salon.jpg');
  background-size: cover;
  .header {
    height: 150px;
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: space-between;
    border-bottom: white solid 2px;
    opacity: 0.8;
    &__headerLeft {
      display: flex;
      align-items: center;
    }
    .logo {
      color: white;
      font-size: 30px;
      font-weight: bold;
      font-family: "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
      padding-left: 10px;
    }
    &__headerRight {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .signHeader {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .signSalon {
      background-color: burlywood;
      border: 1px solid beige;
      border-radius: 15px 15px 15px 15px ;
      padding: 6px;
      margin-bottom: 10px;
      margin-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    } 
    .signUser {
      background-color: cornsilk;
      border:1px solid white;
      border-radius: 15px 15px 15px 15px;
      padding: 6px;
      margin-right: 20px;
      a {
        color: black;
        text-decoration: none;
      }
    }
    .userName {
      color: white;
      font-size: 20px;
      margin-left: 20px;
      margin-right: 10px;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      &__icon {
        margin-right: 10px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  .headerMenu {
    height: 80px;
    background-color: white;
    opacity: 0.8;
  }
  .menuCategory {
    background-color: rgba(230, 228, 176, 0.523);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__item {
      font-size: 16px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      background-color: whitesmoke;
      opacity: 0.4;
    }
  }
  .bgOpacity {
    background: rgba(255,255,255,0.5);
    .newUserPageHeader {
      width: 200px;
      height: 50px;
      font-size: 20px;
      background-color: whitesmoke;
      border: lightskyblue solid 2px;
      border-radius: 10px;
      padding: 10px;
      margin: 20px;
      text-align: center;
    }
    .userProfileContents {
      height: 1000px;
      display: flex;
      flex-wrap: wrap;
      a {
        height: 270px;
        text-decoration: none;
        color: black;
        border: lightskyblue solid 1px;
        border-radius: 10px;
        box-shadow: 6px 6px 4px lightgrey;
        padding: 10px;
        margin-right: 80px;
        margin-left: 20px;
        margin-bottom: 10px;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
  .footer {
    background-color: rgb(38, 37, 37);
    opacity: 0.8;
    &__top {
      color: white;
      font-size: 20px;
      font-weight: bold;
      font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴック", sans-serif;
      padding-top: 10px;
      text-align: center;
    }
    &__center {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
      &--item {
        font-size: 14px;
        text-align: center;
      }
      a {
        color: white;
        text-decoration: none;
      }
      a:hover {
        background-color: lightgray;
        opacity: 0.9;
      }
    }
    &__bottom {
      color: white;
      font-size: 13px;
      text-align: center;
    }
  }
} 
