* {
  box-sizing: border-box;
}

.main{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  .header{
    height: 150px;
    background-color: rgb(38, 37, 37);
    display: flex;
    justify-content: space-between;
    border-bottom: white solid 2px;
    opacity: 0.8;
    &__header-left{
      display: flex;
      align-items: center;
    }
    .logo{
      color: white;
      font-size: 30px;
      font-weight: bold;
      font-family: "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Verdana, "ＭＳ Ｐゴシック", sans-serif;
      padding-left: 10px;
    }
    &__header-right{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sign-in-header{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .sign-in-salon{
      background-color: burlywood;
      border: 1px solid beige;
      border-radius: 15px 15px 15px 15px ;
      padding: 6px;
      margin-bottom: 10px;
      margin-right: 20px;
      a{
        color: black;
        text-decoration: none;
      }
    } 
    .sign-in-user{
      background-color: cornsilk;
      border:1px solid white;
      border-radius: 15px 15px 15px 15px;
      padding: 6px;
      margin-right: 20px;
      a{
        color: black;
        text-decoration: none;
      }
    }
    .search-link{
      border: whitesmoke solid 1px;
      border-radius: 15px 15px 15px 15px;
      padding: 5px;
      margin-right: 20px;
      a{
        color: white;
        text-decoration: none;
      }
    }
    .user-name{
      color: white;
      font-size: 20px;
      margin-left: 20px;
      margin-right: 10px;
    }
    .icons{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      a{
        color: white;
        text-decoration: none;
      }
    }
    .icon{
      margin-right: 10px;
    }
  }
  .header-menu{
    height: 80px;
    background-color: white;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .menu-category{
    background-color: rgba(230, 228, 176, 0.523);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a{
      color: black;
      text-decoration: none;
    }
  }
  .menu-item:hover{
    background-color: whitesmoke;
    opacity: 0.4;
  }
  .new-salon-header{
    font-size: 20px;
    border-left: lightskyblue solid 5px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .recommended-salon-header{
    font-size: 20px;
    border-left: lightskyblue solid 5px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .popular-salon-header{
    font-size: 20px;
    border-left: lightskyblue solid 5px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .salon-information-header{
    width: 70%;
    max-width: 500px;
    font-size: 20px;
    font-family: "Poppins", "Noto Sans Japanese", YuGothic, "-apple-system", "Helvetica Neue", Meiryo, sans-serif;;
    border-bottom: lightgreen solid 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 2px;
    text-align: center;
  }
  .information-header{
    width: 70%;
    max-width: 500px;
    font-size: 20px;
    font-family: "Poppins", "Noto Sans Japanese", YuGothic, "-apple-system", "Helvetica Neue", Meiryo, sans-serif;;
    border-bottom: lightskyblue solid 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 2px;
    text-align: center;
  }
  .information-menu{
    margin-bottom: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100%;
    text-align: center;
    a{
      color: black;
      text-decoration: none;
    }
  }
  .information-menu-item:hover{
    background-color:whitesmoke;
    opacity: 0.4;
    padding-bottom: 7px;
  }
  .footer{
    background-color: rgb(38, 37, 37);
    opacity: 0.8;
    &__top{
      color: white;
      font-size: 20px;
      font-weight: bold;
      font-family: YuGothic, "ヒラギノ角ゴ ProN W3", "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      padding-top: 10px;
      text-align: center;
    }
    .footer-center{
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      margin-bottom: 20px;
      a{
        color: white;
        text-decoration: none;
      }
    }
    .footer-center-item:hover{
      background-color: lightgray;
      opacity: 0.9;
      font-size: 14px;
      text-align: center;
    }
    &__bottom{
      color: white;
      font-size: 13px;
      text-align: center;
    }
  }
  .new-user-header{
    font-size: 20px;
    border-left: lightgreen solid 5px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .profile{
    display: inline-flex;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    a{
      color: black;
      text-decoration: none;
      margin-right: 80px;
      margin-left: 20px;
    }
    img{
      width: 100px;
      height: 100px;
    }
  }
  .recommended-user-header{
    font-size: 20px;
    border-left: lightgreen solid 5px;
    padding-left: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}