.fukuokaUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .fukuokaUserPageHeader
      福岡県
    = render partial: "layouts/user-profile"
    = render partial: "layouts/footer"