.osakaUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .osakaUserPageHeader
      大阪府
    = render partial: "layouts/user-profile"
    = render partial: "layouts/footer"