.beauty-salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bg-opacity
    .beauty-salon-page-header
      ビューティー
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/footer"