.food-salon-main
  = render partial: "layouts/header"
  = render partial: "layouts/salon-menu"
  .bg-opacity
    .food-salon-page-header
      フード・グルメ
    = render partial: "layouts/salon-profile"
    = render partial: "layouts/footer"