.kanagawaUserMain
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bgOpacity
    .kanagawaUserPageHeader
      神奈川県
    = render partial: "layouts/user-profile"
    = render partial: "layouts/footer"