.chiba-user-main
  = render partial: "layouts/salon-header"
  = render partial: "layouts/user-menu"
  .bg-opacity
    .chiba-user-page-header
      千葉県
    = render partial: "layouts/user-profile"
    = render partial: "layouts/footer"