.footer
  .footer__top
    Branch Community
    = icon('fa', 'tree')
  %ul.footer__center
    %li.footer__center--item
      プライバシーポリシー
    %li.footer__center--item
      サイトご利用規約
    %li.footer__center--item
      お問い合わせ
  .footer__bottom
    Copyright © BranchCommunity, Inc.