.headerMenu
  %ul.menuCategory
    %li.menuCategory__item
      =link_to "新着サロン", newsalonpage_path
    %li.menuCategory__item
      =link_to "ビジネス", businesspage_path
    %li.menuCategory__item
      =link_to "スポーツ", sportspage_path
    %li.menuCategory__item
      =link_to "スキルアップ", skilluppage_path
    %li.menuCategory__item
      =link_to "フード・グルメ", foodpage_path
    %li.menuCategory__item
      =link_to "ビューティー", beautypage_path
    %li.menuCategory__item
      =link_to "恋愛・婚活", lovepage_path
    %li.menuCategory__item
      =link_to "副業", sidejobpage_path