.salon-information-header
  NEWS
%ul.information-menu
  %li.information-menu-item
    =link_to "2020年12月31日：【新機能リリース予定！】チャットルーム機能", "＃"
  %li.information-menu-item
    =link_to "2020年12月31日：【新機能リリース予定！】いいね！機能", "＃"
  %li.information-menu-item
    =link_to "2020年12月31日：【新機能リリース予定！】お気に入りユーザー保存機能", "＃"
  %li.information-menu-item
    =link_to "2020年12月31日：【新機能リリース予定！】おすすめユーザー表示機能", "＃"
  %li.information-menu-item
    =link_to "2020年12月31日：【新機能リリース予定！】マッチング診断機能", "＃"
  %li.information-menu-item
    =link_to "2020年12月31日：【新機能リリース予定！】アクティブユーザー表示機能", "＃"
  %li.information-menu-item
    =link_to "2020年7月6日：<<BranchCommunity サービス開始>>", "＃"