.header-menu
  %ul.menu-category
    %li.menu-item
      =link_to "東京都", tokyopage_path
    %li.menu-item
      =link_to "大阪府", osakapage_path
    %li.menu-item
      =link_to "福岡県", fukuokapage_path
    %li.menu-item
      =link_to "京都府", kyotopage_path
    %li.menu-item
      =link_to "愛知県", aichipage_path
    %li.menu-item
      =link_to "神奈川県", kanagawapage_path
    %li.menu-item
      =link_to "千葉県", chibapage_path
    %li.menu-item
      =link_to "その他", otherpage_path